.container {
    margin-bottom: 1.2rem;
    position: relative;
    z-index: 2;
  }
  
  .title {
    letter-spacing: -0.025em;
    font-weight: 800;  
    font-size: 3rem;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  
  .title1 {
    color: rgba(249, 250, 251, 1);
    color: var(--primary-200);
  }
  
  .title2 {
    color: var(--accent-100);
  }
  
  .subTitle {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    color: var(--primary-300);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
  }
  
  .buttonWrapper {
    margin-top: 1.25rem;
  }

  .button {
    background-color: var(--accent-100);
    cursor: pointer;
    color: var(--text-black);
    outline: 0;
    border: 3px solid var(--bg-100);
    border-radius: .1rem;
    margin-top: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 2rem 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    letter-spacing: .05rem;
  }
  
  .button:hover {
    transition: .3s ease-in-out;
    background-color: var(--primary-300);
    color: var(--bg-100);
    border: 3px solid var(--primary-300);
    border-radius: .3rem;
  }
  
  /** 
    Breakpoints:
    ------------
    sm: min-width: 640px; //small device
    md: min-width: 768px; // medium device
    lg: min-width: 1024px; // large device
    xl: min-width: 1280px; // extra large device
    2xl: min-width: 1536px; // 2 x extra large device
  **/
  
  @media(min-width: 1024px) {
    
  }

  /** sm breakpoint **/
  @media (min-width: 640px) {
    .title {
      font-size: 3rem /* 48px */;
      line-height: 1;
    }
  
    .subTitle {
      margin-top: 1.25rem;
      max-width: 36rem;
    }
  
    .buttonWrapper {
      display: flex;
      margin-top: .1rem;
    }
  }
  
  /** md breakpoint **/
  @media (min-width: 768px) {
    .title {
      font-size: 3.75rem /* 60px */;
      line-height: 1;
    }
  
    .subTitle {
      margin-top: 1.25rem;
    }
  
    .button {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  
  /** lg breakpoint **/
  @media (min-width: 1024px) {
    .container {
      text-align: left;
    }
  
    .title {
      font-size: 4.5rem;
      line-height: 1;
    }
  
    .title2 {
      display: block;
      padding-left: 0.5rem;
    }
  
    .subTitle {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .buttonWrapper {
      justify-content: flex-start;
    }
  }
  
  /** xl breakpoint **/
  @media (min-width: 1280px) {
    .title2 {
      display: inline;
    }
  }