.cardLink {
    margin: auto;
    border-color: var(--text-white-100);
    border-radius: 0.75rem;
    margin-bottom: 3rem;
  }
  
  .container {
    border-radius: 0.75rem;         
    padding: 0.25rem 1rem 1.25rem;  /* 1rem = 16px */
  
    backdrop-filter: blur(10px);
  }
  
  .cardHeaderWrapper {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  
  .cardHeader {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 800;
    overflow: hidden;
    width: 16rem;
    color: var(--bg-100);
  }
  
  .cardImageWrapper > img {
    color: var(--accent-100);
    border: 1px solid var(--bg-200);
    border-radius: .75rem;
  }
  
  .cardImage {
    border-radius: 0.75rem;
  }
  
  @media (min-width: 1024px) {
    .cardHeader {
      width: 16rem;
    }
  }
  
  @media (min-width: 768px) {
    .cardHeader {
      width: 16rem;
    }
  }